@model CLUZServer.Game

@{
    ViewData["Title"] = "Game Details";
}

<h1>Game Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeTimeSpamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChangeTimeSpamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamePin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamePin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFrame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeFrame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumPlayerCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinimumPlayerCount)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Players", "Players", new { id = Model.Guid }) |
    <a asp-action="Index">Back to List</a>
</div>

